.burger {
  position: relative;
  border: none;
  padding: 0;
  width: 60px;
  height: 9px;
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--black-color);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}
