.mouse {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  pointer-events: none;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    box-shadow: 4px 4px 4px #cccaca;
    background: #d7d7d7;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    background: #cdcdcd;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
  }

  &__view {
    @include flex-all-center;

    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--light-color);
    background-color: var(--black-color);
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
  }
}

.view-visible {
  .mouse__view {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
}

.links-visible {
  &::before {
    opacity: 0;
  }

  &::after {
    border: 4px solid #dcdcdc;
    transform: translate(-50%, -50%) scale(0.5);
    transition: 0.3s;
  }
}
