<header class="header">
  <div class="container header__container">
    <a href="#" class="logo header__logo">
      <span class="logo__letter">
        <svg>
          <use xlink:href="img/sprite.svg#arita"></use>
        </svg>
      </span>
      Arita /16
    </a>
    <nav class="nav header__nav" title="Page navigation">
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#" class="nav__link">Designers</a></li>
        <li class="nav__item"><a href="#" class="nav__link">History</a></li>
        <li class="nav__item"><a href="#" class="nav__link">News</a></li>
      </ul>
    </nav>
    <button class="btn-reset burger header__burger" aria-label="Open menu" aria-expanded="false" data-burger></button>
  </div>
</header>
